{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developer Details</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body{
            {{!-- background-color: #9df9ef; --}}
        }

        h1{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 60px;
        }
        h2{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 30px;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        form, p{
            text-align-last: center;
        }
         .center {
            margin-left: auto;
            margin-right: auto;
        }
        label, p{
            font-size: 20px;
        }
    </style>
</head>

<body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="nav navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="index.html">Home</span></a>
            <a class="nav-item nav-link" href="users.html">Users</a>
            <a class="nav-item nav-link" href="AItools.html">AI Tools</a>
            <a class="nav-item nav-link" href="downloads.html">Downloads</a>
            <a class="nav-item nav-link" href="orders.html">Orders</a>
            <a class="nav-item nav-link" href="orderdetails.html">Order Details</a>
            <a class="nav-item nav-link" href="developers.html">Developers</a>
            <a class="nav-item nav-link" href="developerDetails.html">Developer Details</a>
        </div>
    </div>  
    </div>
</nav>

<h1>Developer Details Page</h1>

<div class="container">
<table id="dev-detail-table" class="table table-hover">
  <thead>
    <tr>
      <th>Developer Details ID</th>
      <th>Tool ID</th>
      <th>Tool Name</th>
      <th>Developer ID</th>
      <th>Deverloper Name</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.dev_details_id}}</td>
        <td>{{this.tool_id}}</td>
        <td>{{this.tool_name}}</td>
        <td>{{this.dev_id}}</td>
        <td>{{this.dev_name}}</td>
        <td><button typ="button" class="btn btn-danger" onclick="deleteDevDetails({{this.dev_details_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

</div>

<div class="container">
    <h2>Adding Data with AJAX</h2>
<p>To add a new developer detail, please enter their information below and click 'Submit'!</p>
<form id="add-dev-detail-form-ajax">
    <label for="input-tool_id">Tool ID: </label>
    <select name="input-tool_id" id="input-tool_id-ajax">
      <option value="">Select an AI Tool</option>
      {{#each tools}}
      <option value="{{this.tool_id}}">{{this.tool_name}}</option>
      {{/each}}
    </select>
    
    <label for="input-dev_id">Developer ID: </label>
    <select name="input-dev_id" id="input-dev_id-ajax">
      <option value="">Select a Developer</option>
      {{#each devs}}
      <option value="{{this.dev_id}}">{{this.dev_name}}</option>
      {{/each}}
    </select>

    <input type="submit">
</form>
</div>


<div class="container">
    <h2>Search Using an HTML Form</h2>

<form id="search-tool-html" method='GET' action='/developerDetails.html'>
    <label for="input-tool_id">AI Tool Name: </label>
    <select name="tool_id" id="input-tool_id-html-search">
        <option value="">Select an AI Tool</option>
        {{#each tools}}
        <option value="{{this.tool_id}}">{{this.tool_name}}</option>
        {{/each}}
    </select>    
    <input type="submit">
</form>

<div style="text-align:center">
    <a href='/developerDetails.html'><button type="button" class="btn btn-default">Reset</button></a>
</div>

</div>

<div class="container">
    <h2>Updating An AI Tool's Devloper Infomation</h2>
<p>To update a tool-developer relationship</p>
<ol>
    <li>
        Select a developer detail id 
    </li>
    <li>
        Select the tool name associated with the developer detail id
    </li>
    <li>
        Select a new developer name or don't select anything to remove the tool-developer relationship 
    </li>
</ol>
    
<form id="update-dev-detail-form-ajax">

    <label for="input-dev_details_id">Developer Detail ID: </label>
    <select name="input-dev_details_id" id="mySelect">
        <option value="test">Select an Order Detail ID</option>
        {{#each data}}
        <option value="{{this.dev_details_id}}">{{this.dev_details_id}}</option>
        {{/each}}
    </select>

    <label for="input-tool_id">AI Tool Name: </label>
    <select name="input-tool_id" id="input-tool_id-update">
        <option value="test">Select an AI Tool</option>
        {{#each tools}}
        <option value="{{this.tool_id}}">{{this.tool_name}}</option>
        {{/each}}
    </select>

    <label for="input-dev_id">Developer Name: </label>
    <select name="input-dev_id" id="input-dev_id-update">
        <option>Select a Developer</option>
        {{#each devs}}
        <option value="{{this.dev_id}}">{{this.dev_name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>


</div>
</body>
</html>

<script src="./js/delete_dev_detail.js"></script>
<script src="./js/add_dev_detail.js"></script>
<script src="./js/update_dev_detail.js"></script>
