{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Developers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body{
            {{!-- background-color: #9df9ef; --}}
        }

        h1{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 60px;
        }
        h2{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 30px;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        form{
            text-align-last: center;
        }
         .center {
            margin-left: auto;
            margin-right: auto;
        }
        label, p{
            font-size: 20px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <div class="nav navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="index.html">Home</span></a>
            <a class="nav-item nav-link" href="users.html">Users</a>
            <a class="nav-item nav-link" href="AItools.html">AI Tools</a>
            <a class="nav-item nav-link" href="downloads.html">Downloads</a>
            <a class="nav-item nav-link" href="orders.html">Orders</a>
            <a class="nav-item nav-link" href="orderdetails.html">Order Details</a>
            <a class="nav-item nav-link" href="developers.html">Developers</a>
            <a class="nav-item nav-link" href="developerDetails.html">Developer Details</a>
        </div>
    </div>  
    </div>
</nav>


<h1>Developer Page</h1>
<table id="developers-table" class="table table-hover">
  <thead>
    <tr>
      <th>Developer ID</th>
      <th>Developer Name</th>
      <th>Developer Location</th>
      <th>Developer Website</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    {{#each data}}
      <tr>
        <td>{{this.dev_id}}</td>
        <td>{{this.dev_name}}</td>
        <td>{{this.dev_location}}</td>
        <td>{{this.dev_website}}</td>
        <td><button type="button" class="btn btn-danger" onclick="deleteDev({{this.dev_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>


</body>
</html>

<div class="container">
    <h2>Adding Data with AJAX</h2>
<p>To add a new developer, please enter their information below and click 'Submit'!</p>
<form id="add-dev-form-ajax">
    <label for="input-dev_name">developer name: </label>
    <input type="text" name="input-dev_name" id="input-dev_name">
    <label for="input-dev_location">developer location: </label>
    <input type="text" name="input-dev_location" id="input-dev_location">
    <label for="input-dev_website">developer website: </label>
    <input type="text" name="input-dev_website" id="input-dev_website">
    <input type="submit">
</form>
</div>

<div class="container">
    <h2>Search Using an HTML Form</h2>
<p>Search by Developer Name using the field below. </p>
<form id="search-dev-html" method="GET" action="/developers.html">
    <label for="input-dev_name">Search by Developer Name: </label>
    <input type="text" name="dev_name" id="input-dev_name-html-search">
    <input type="submit">
    <a href="/developerDetails.html"><button type="button" class="btn btn-default">Reset</button></a>
</form>


</div>


<script src="./js/add_dev.js"></script>
<script src="./js/delete_dev.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>