{{!-- Adapted from the starter code  --}}
{{!-- Citation: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloads</title>
    <style>
        body{
            background-color: #9df9ef;
        }

        h1{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 60px;
        }
        h2{
            color: black;
            font-family: "Droid Sans";
            text-align: center;
            font-size: 30px;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .topnav a:hover {
            background-color: lavender;
            color: black;
        }

        .topnav a.active {
            background-color: #51e2f5;
            color: white;
        }
        form{
            text-align-last: center;
        }
        orderID, loadSuccess {
            display: inline-block;
            width: 50%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 20px;
        }
         .center {
            margin-left: auto;
            margin-right: auto;
        }
        label, p{
            font-size: 20px;
        }
    </style>
</head>
<body>
  <!-- div for nav bar html links -->
<div class="topnav">  
    <a href="index.html">Home</a>
    <a href="users.html">Users</a>
    <a href="AItools.html">AI Tools</a>
    <a href="downloads.html">Downloads</a>
    <a href="orders.html">Orders</a>
    <a href="orderdetails.html">Order Details</a>
    <a href="developers.html">Developers</a>
    <a href="developerDetails.html">Developer Details</a>
</div>
<h1>Downloads Page</h1>
{{!-- table  --}}
<table id="downloads-table" class="center">
    {{!-- header  --}}
  <thead>
    <tr>
      <th>Download ID</th>
      <th>Tool ID</th>
      <th>Tool Name</th>
      <th>User ID</th>
      <th>User Name</th>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Download Date</th>
      <th>Download Success</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
        {{!-- data  --}}
    {{#each data}}
      <tr>
        <td>{{this.download_id}}</td>
        <td>{{this.tool_id}}</td>
        <td>{{this.tool_name}}</td>
        <td>{{this.user_id}}</td>
        <td>{{this.user_name}}</td>
        <td>{{this.order_id}}</td>
        <td>{{this.order_date}}</td>
        <td>{{this.download_date}}</td>
        <td>{{this.download_success}}</td>
        <td><button onclick="deleteDownload({{this.download_id}})">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>

</body>
</html>
{{!-- add data  --}}
<h2>Adding Data with AJAX</h2>
<p>This page adds the download records of existing orders.</p>
  <ol>
    <li>
      Select an existing order_id and user_id.
    </li>
    <li>
      Select a tool_id
    </li>
    <li>
      Input the date and download success for this download record.
    </li>
    <li>
      One order can have multiple download records.
    </li>
  </ol>

<p>To add a new download record, please enter the information below and click 'Submit'!</p>
<form id="add-download-form-ajax">
    <select name="input-tool_id" id="input-tool_id">
      <option value="">Select a Tool</option>
      {{#each tools}}
      <option value="{{this.tool_id}}">{{this.tool_name}}</option>
      {{/each}}
    </select>

    <select name="input-user_id" id="input-user_id">
      <option value="">Select a User</option>
      {{#each users}}
      <option value="{{this.user_id}}">{{this.user_name}}</option>
      {{/each}}
    </select>

    <select name="input-order_id" id="input-order_id">
      <option value="">Select an Order</option>
      {{#each orders}}
      <option value="{{this.order_id}}">{{this.order_id}}</option>
      {{/each}}
    </select>
    
    <label for="input-download_date">download date: </label>
    <input type="date" name="input-download_date" id="input-download_date">
    
    <label for="input-download_success">download success: </label>
    <select name="input-download_success" id="input-download_success">
        <option value="Select">Select</option>
        <option value="TRUE">Success</option>
        <option value="FALSE">Failure</option>
    </select>
    
    <input type="submit">
</form>

{{!-- search data  --}}
<h2>Search Using an HTML Form</h2>
<p>Search by Download ID using the field below. </p>
<form id="search-download-html" method="GET" action="/downloads.html">
    <label for="input-download_id">Search by Download ID: </label>
   <input type="number" name="download_id" id="input-download_id-html-search">
    <input type="submit">
</form>

<div style="text-align:center">
    <a href="/downloads.html"><button>Reset</button></a>
</div>
{{!-- add js script  --}}
<script src="./js/add_downloads.js"></script>
<script src="./js/delete_download.js"></script>